<p-dialog [style]="{'width':'100%', 'height':'100%'}" [(visible)]="displayCiclos" *ngIf="displayCiclos" [responsive]="true" showEffect="fade" [modal]="true" [closable]="false">
    <p-header>
        <b>Ciclos</b>
        <div style="float: right">
            <button pButton class="ui-button-raised ui-button-rounded mr-2" icon="pi pi-chart-bar" label="Ver Gráfico de Tendência" (click)="gotoTendencia()"></button>
            <button pButton class="ui-button-raised ui-button-rounded" icon="pi pi-times" (click)="voltarPagina()"></button>
        </div>

    </p-header>
    <div *ngFor="let ciclo of ciclos">
        <div class="table-responsive mb-2" *ngIf="ciclo.steps; let stps">

            <p-table #dt [columns]="colsStep" [value]="stps" selectionMode="single" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="14">
                <ng-template pTemplate="caption">
                    <span style="font-size: 20px">Ciclo {{ciclo.tempoCiclo}}</span>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Step</th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="rowData">
                        <td>{{rowIndex+1}}</td>
                        <td *ngFor="let col of columns">

                            <div *ngIf="col.subsubfield;then subsub_content else sub_content"></div>
                            <ng-template #subsub_content>
                                {{rowData[col.field][col.subfield][col.subsubfield]}}
                            </ng-template>
                            <ng-template #sub_content>
                                <div *ngIf="col.field == null; then empty_content else normal_content"></div>
                                <ng-template #normal_content>
                                    <div *ngIf="col.subfield != null ; else nosub_content">
                                        {{rowData[col.field][col.subfield]}}
                                    </div>
                                    <ng-template #nosub_content>
                                        {{rowData[col.field]}}
                                    </ng-template>
                                </ng-template>
                                <ng-template #empty_content>
                                </ng-template>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-dialog>
<router-outlet></router-outlet>